body {
	/*text-align: center;*/
	font-family: Arial, Helvetica, sans-serif;
}
form {
	border: 1px solid #f1f1f1;
	text-align: center;
}

h2 {
	text-align: center;
}

input[type=text], input[type=password] {
    width: 33%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 33%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
	margin-left: auto;
}

span.psw {
    float: right;
    padding-top: 1600px;
}


@media screen and (max-width: 1000px) {
	input[type=text], input[type=password] {
		width: 100%
	}
	button {
		width: 100%
	}
    span.psw {
        display: block;
        float: none;
    }
	
}